.account{
    width:350px;
    height:auto;
    overflow:hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius:5px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin:10% auto 0 auto;
}
.password{
    width:350px;
    height:auto;
    overflow:hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius:5px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin:0% auto 0 auto;
}
.main h1{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    color:#45bda6;
    text-shadow:0 0 1px #0e947a;
    margin-bottom:0px;
}
.login{
    text-align:center;
}
.login .submit_btn{
    width:10%;
    height:42px;
    border:none;
    font-size:16px;
    background:#FF5722;
    color:#f8f8f8;
    cursor: pointer;
}